// ----------------------------------------------------------------------

  // Create block
  // usually used for pseudoselectors :after and :before

// ----------------------------------------------------------------------

// example @include create-block(10px,20px)

@mixin create-block($width, $height) {
	position: absolute;
	display: block;
	content: "\0020";
	width: $width;
	height: $height;
}