// ----------------------------------------------------------------------
// Multiline ellipses
// works well except the ellipses (end lines) added only in webkit 
// ----------------------------------------------------------------------

// example @include multilineE-elipses(14px, 1.3, 3);

@mixin multilineE-elipses($fontSize, $lineHeight, $textLines) {
	height: $fontSize*$lineHeight*$textLines;
	font-size: $fontSize;
	line-height: $lineHeight;
	-webkit-line-clamp: $textLines;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
}