

// base styles
// ----------------------------------------------------------------------

.tempStyle {
	margin-bottom: 100px;
	padding-bottom: 240px;
	padding-top: 20px;
	border-bottom: 1px dashed #900;
}


h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.cfBodyWrapper {
	* { @include box-sizing(border-box); }
	font-size: 12px;

}

.cfContentWrapper {
	width: 812px;
	margin: 0 auto;
}

/* header */
.cfPageHeader {
	padding: 20px 0;
	.logo {
		img { width: 300px; }
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li { display: inline-block;	}
	a { 
		text-decoration: none; 
		color: #000;
		&:hover { color: #cb002b; }
	}
}
.cfHeaderMainMenu {
	border-top: 1px solid #555;
	margin-top: 10px;
	li {
		font-size: 1.4em;
		font-weight: bold;
		padding: 0.5em 2em 0.5em 0;
	}
}
.cfHeaderRightMenu {
	float: right;
	padding-top: 24px;
	font-size: 0.9em;
	li { 
		@include box-sizing(border-box);
		float: left;
		height: 16px;
		padding: 0.3em 1em 0;
		border-right: 1px solid #ccc;
		img {
			position: relative;
			top: -3px;
			padding: 0 2px;
		}
	}
}
.cfHeaderImg {
	width: 100%;
	height: 80px;
	background-color: #000;
	background-image: url("../img/header_bcgr.jpg");
	background-position: 50% 0;
	background-repeat: no-repeat;
}



.cfButton {
	font-size: 1.1em;
	padding: 0.2em 1em;
	border: 1px solid #ccc;
	background: #eee;
}

// image holder for different sizes
.imgHolder { 
	border: 1px solid #ccc;
	padding: 1px;
	&.sizeM { width: 180px; height: 180px; }
	&.sizeL { width: 260px; height: 260px; }
	img { width: 100%; height: 100%; }
}

// form content holder
.formHolder {
	font-size: 1.2em;
}

// table holder
.tblHolder {
	margin-bottom: 20px;
	h4 { margin: 0.3em 0; }
	table {
		td, th {
			padding: .3em 1em;
			&:first-child { padding-left: 0; }
			&:lest-child { padding-right: 0; }
		}
	}
	.selectable { 
		display: inline-block; 
		padding: 0.1em; 
	}
	.selected { background: #0bcc33; }
}
.subTbl {
	font-size: 0.9em;
	background: #eee;
	margin: 0 10px 10px;
	.selected {
		background: #9affcc;
	}
}


.cfImgList {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		font-size: 0;
		margin: 0 10px 20px;
		height: auto;
		width: auto;
		border: 1px solid #ccc;
		padding: 1px;
		&.selected { 
			border-color: #cb002b; 
			> a { cursor: default; }
		}
		
		> a {
			position: relative;
			display: block;
			overflow: hidden;
			width: 100%;
			height: 100%;
			&:hover {
				.itemTitle {
					max-height: 100px; 
					min-height: 30px;
				}
			}

			.itemTitle {
				transition: max-height 0.3s, min-height 0.2s;
				position: absolute;
				z-index: 1;
				bottom: 0;
				width: 100%;
				padding: 5px 5px 0;
				max-height: 26px;
				min-height: 26px;
				text-align: center;
				display: block;
				background: rgba(255,255,0,0.5);
				font-size: 14px;
				line-height: 1.3em;
				color: #fff;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}

	&.sizeM li {
		width: 180px;
		height: 180px;
	}
	&.sizeL li {
		width: 260px;
		height: 260px;
	}
}

.cfAnnotate { 
	display: inline-block;
	padding: 0.5em 0;
	font-size: 0.8em; 
}

.cfSeletedOptions {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid $darkColor;
}

.blockFinalDimentions {
	td, th {
		border: 1px solid #eee;
	}
}

.blockTotalPrice {
	margin-top: 40px;
	width: 60%;
	h2 {
		margin-bottom: 0;
		text-decoration: underline;
		span { 
			float: right;
			text-decoration: none;
		}
	}
	.cfAnnotate { text-align: right; }
}

.blockProjectDetails {
	margin: 40px 0 60px 0;
	input[type="text"] {
		width: 60%;
		font-size: 1.1em;
		padding: .2em;
		background: #eee;
		border: 1px solid #ccc;
	}
}

