// ----------------------------------------------------------------------
// Extenders
// ----------------------------------------------------------------------

%clearfix {
  @include clearfix();
}

%hideText {
  @include hide-text();
}

%inlineList {
	list-style: none;
	padding: 0;
	margin: 0;
	li { 
		display: inline-block; 
	}
}